body {
	font-family: Roboto, Arial, sans-serif, monospace;
	background-color: #A682FF;
}
header {
	width: 350px;
	text-align: center;
	margin: auto;
}
#flexContainer {
	display: flex;
	justify-content: center;
}
#labelContainer {
	margin-right: 2em;
}
form {
	padding: 3em;
	border: 5px solid purple;
	margin: 0 auto;
	background-color: white;
	width: 66%;
	font-size: 120%;
}
button {
	width: 120px;
	margin: 0 3em;
	border: none;
	padding: 0.75em;
}
#submit {
	background-color: rgba(0, 255, 0, 0.5);
}
#clear {
	background-color: rgba(255, 255, 0, 0.5);
}
#buttonContainer {
	width: 500px;
	margin: 0 auto;
}

label, input[type="text"], input[type="number"], textarea, .checkboxes{
	display: block;
	margin: 1em 0;
}

input[type="text"], input[type="number"], textarea {
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	background-color: rgba(180, 0, 180, 0.25);
}
input[type="text"], input[type="number"] {
	width: 240px;
}
textarea {
	resize: none;
}

