body {
    background-color: mediumpurple;
    font-family: roboto, serif, monospace;
}

header {
    font-family: arial, serif, monospace !important;
    background-color: aliceblue;
}

header h1 {
    margin: auto;
    margin-bottom: 1em;
    padding: 5px;
}

main {
    margin: 3em 2em;
    padding: 1em;
    text-align: center;
    background-color: white;
}

label {
    display: inline;
    width: 20em;
    text-align: left;
}
#checkboxes {
    display: inline-flex;
    justify-content: center;
}

input {
    border-radius: 5px;
    border: none;
    background-color: #EEE;
    padding: 5px;
}

input,
select {
    margin: 1em 0;
}
input[type="checkbox"] {
    margin: 0 0.25em 0 1em;
}
input[type="radio"] {
    margin-right: 
}
#radio {
    margin: 0 1em;
}

#submit,
#reset {
    margin: 1em;
    background-color: orange;
    border: none;
    color: white;
    padding: 0.75em;
    border-radius: 5px;
}

textarea {
    resize: none;
    border-radius: 5px;
    border: none;
    background-color: #EEE;
}

#submit:hover ,
#reset:hover {
    text-decoration: underline;
    background-color: darkorange;
}

@media screen and (max-width: 520px) {
    label {
        width: 100%;
        text-align: center;
    }
    #checkboxes {
        display: flex;
        flex-direction: column;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"] {
        width: 100%;
        text-align: center;
    }

    select {
        width: 100%;
    }
}
